<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Merriweather+Sans|Raleway|Source+Code+Pro|Bungee|Cairo:600|Exo+2:600|Hind+Siliguri:500&display=swap" rel="stylesheet">
  <!-- bootsrap java -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- icons -->
  <script src="https://kit.fontawesome.com/4bad990581.js" crossorigin="anonymous"></script>
  <!-- css -->
  <link rel="stylesheet" href="styles3.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body>

<img src="/images/Back-gr/bg-cloudy-big.jpg" class="bg" alt="">
<img src="/images/Back-gr/bg-cloudy-md.jpg" class="md" alt="">
<img src="/images/Back-gr/bg-cloudy-sm.jpg" class="sm" alt="">







    <h1 class="place">Error,<i class="black"><%=city%></i> is not a valid city.</h1>
    <h4 class="temp">Check for typos!!</h4>

<form  action="/failure" method="post" class="back">
  <button class="btn btn-lg btn-warning button-retry" type="submit" name="button">Back to home</button>
</form>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="index2.js" charset="utf-8"></script>
</body>

</html>
